.first{
    font-family: Verdana, sans-serif;
}
.span1{
    color: #ffc200
}
.Para{
    font-family: Merriweather, Georgia, serif;
}
.Footer{
    font-family: Georgia, serif; color: #666; font-size: 14px; font-style: italic;
}